
.list-classes
{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-title-tile, .class-tile-user-title, .class-tile-course-title{
  font-size: 120%;
  width:100%;
  margin-top:0.2em;
  padding: 0.3em;
    height: 1.5em;
}

.class-tile {
  padding: 0.4em;
  margin: 0.4em;
  display: -webkit-flex;
  display: flex;
  flex-basis: row;
  flex-wrap:wrap;
  width:30%;
}

.class-tile-courses,
.class-tile-users,
.class-tile-buttons
{
    padding: 0.4em;
    margin: 0.4em;
    display:flex;
    flex-basis: row;
    flex-wrap: wrap;
}

.class-tile-invite
{
    padding: 0.4em;
    margin: 0.4em;

}
.class-tile-buttons
{
    justify-content: center;
}

.form-table
{
    border: 1px solid #ffffff;
}

.class-creation-form
{
    float:left;
    padding: 2em;
    margin:2em;
}