
.list-classes
{
    clear:both;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-title-tile, .class-tile-user-title, .class-tile-course-title{
  font-size: 120%;
  width:100%;
  margin-top:0.2em;
  padding: 0.3em;
    height: 1.5em;
}

.class-tile {
  padding: 0.4em;
  margin: 0.4em;
  display: -webkit-flex;
  display: flex;
  flex-basis: row;
  flex-wrap:wrap;
  width:30%;
}

.class-tile-courses,
.class-tile-users,
.class-tile-buttons
{
    padding: 0.4em;
    margin: 0.4em;
    display:flex;
    flex-basis: row;
    flex-wrap: wrap;
}

.class-tile-invite
{
    padding: 0.4em;
    margin: 0.4em;
}

.form-table
{
    border: 1px solid #ffffff;
}

.class-creation-form
{
    float:left;
    padding: 2em;
    margin-left:2em;
    clear: both;
}
.search-results
{
    float:left;
    padding: 2em;
    margin-left:2em;
    display: flex;
    flex-direction: column;
}
.search-result
{
    padding: 1em;
    margin-bottom: 1em;
}
.course-title
{
    margin-left: 1em;
    clear: both;
}

.notes
{
    margin-left: 1em;
    margin-top: 10em;
    clear:both;
}

.note-content
{
    padding: 1em;
    clear: both;
    font-size: 110%;
}
.note-footer
{
    padding: 1em;
    clear: both;
}

.note-footer-link
{
    padding: 0.5em;
    float:right;
}
.max-60
{
    min-width: 40%;
    max-width: 60%;
}