#header-menus, #header-title, #header-search
{
	float: left;
	height: 100%;
	padding: 0;
}

#header-title
{
	width:15em;
}

#header-menus
{
	width: 50%;
	font-size: 120%;
    display: -webkit-flex;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-content: center;
	justify-content: space-around;
}

#header-search
{
	width: 20%;
}

.header-menu-tile, .header-search-tile
{
}

.header-menu-tile
{
	align-self: flex-end;
	padding: 0.5em;
}

 #header-search
{
    display: -webkit-flex;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-content: center;
	justify-content: center;
}
.header-search-tile
{
	align-self: center;
}