.profile, .context-menus-dock
{
    width: 100%;
}

.profile
{
    padding: 1.5em;
}
.context-menus-dock
{
    display: flex;
     display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.context-menu-tile-class
{
    display: flex;
  display: -webkit-flex;
    padding: 0.5em;
    font-size: 120%;
}
 .context-menu-tile-course
{
    padding: 1em;
}